<a href="https://colab.research.google.com/github/Alvaroguijarro97/ML_Group_Project/blob/main/Data_Geography_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib.pylab as plt
import numpy as np

# **Geographic Info of European Union Countries and German States**

In [3]:
# Upload the "worldcities.csv" file into the notebook and set it as a dataframe
from google.colab import files
uploaded = files.upload()
# (NOTE) we should look for the 2021 latest version to have it match the other databases

Saving worldcities.csv to worldcities.csv

In [4]:
#Read the World Cities Data Base and identify the needed columns
import io 
geography_data = pd.read_csv('worldcities.csv')
geography_data.info()
geography_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42905 entries, 0 to 42904
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        42905 non-null  object
 1   city_ascii  42905 non-null  object
 2   lat         42905 non-null  float64
 3   lng         42905 non-null  float64
 4   country     42905 non-null  object
 5   iso2        42873 non-null  object
 6   iso3        42905 non-null  object
 7   admin_name  42810 non-null  object
 8   capital     9812 non-null   object
 9   population  42180 non-null  float64
 10  id          42905 non-null  int64
dtypes: float64(3), int64(1), object(7)
memory usage: 3.6+ MB

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6839,139.7744,Japan,JP,JPN,Tōkyō,primary,39105000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,35362000.0,1360771077
2,Delhi,Delhi,28.6667,77.2167,India,IN,IND,Delhi,admin,31870000.0,1356872604
3,Manila,Manila,14.6000,120.9833,Philippines,PH,PHL,Manila,primary,23971000.0,1608618140
4,São Paulo,Sao Paulo,-23.5504,-46.6339,Brazil,BR,BRA,São Paulo,admin,22495000.0,1076532519

The "world cities" data set contains information of over 4 million unique cities and towns from every country in the world. The variables observed in the dataset represent the following: 


*   **city**: 	The name of the city/town as a Unicode string (e.g. Goiânia).
*   **city_ascii**: city as an ASCII string (e.g. Goiania). Left blank if ASCII representation is not possible
*   **lat**: The latitude of the city/town
*   **lng**: The longitude of the city/town.
*   **country**: 	The name of the city/town's country.
*   **iso2**:	The alpha-2 iso code of the country.
*   **iso3**: 	The alpha-3 iso code of the country.
*   **admin_name**: The name of the highest level administration region of the city town (e.g. a US state or Canadian province). Possibly blank.
*   **population**: An estimate of the city's urban population. Only available for some (prominent) cities. If the urban population is not available, the municipal population is used.
*   **id**: A 10-digit unique id generated by SimpleMaps.

More information regarding this dataset can be found in: https://simplemaps.com/data/world-cities

In [5]:
# Download the list of the EU countries
uploaded_names = files.upload()
europe_names = pd.read_csv('naming_convention.csv')

Saving naming_convention.csv to naming_convention.csv

In [6]:
# (NOTE) Do the list of every european country in the abortion atlas
Europe = europe_names['iso3']
Europe

0     ALB
1     AND
2     ARM
3     AUT
4     AZE
5     BLR
6     BEL
7     BIH
8     BGR
9     HRV
10    CYP
11    CZE
12    DNK
13    EST
14    FIN
15    FRA
16    GEO
17    DEU
18    GIB
19    GRC
20    HUN
21    ISL
22    IRL
23    IMN
24    ITA
25    LVA
26    LIE
27    LTU
28    LUX
29    MLT
30    MDA
31    MCO
32    MNE
33    NLD
34    MKD
35    NOR
36    POL
37    PRT
38    ROU
39    RUS
40    SMR
41    SRB
42    SVK
43    SVN
44    ESP
45    SWE
46    CHE
47    TUR
48    UKR
49    GBR
Name: iso3, dtype: object

In [7]:
# Create a dataset only containing EU countries and their cities
eu_countries = geography_data[geography_data.iso3.isin(Europe)]
eu_countries = eu_countries[(eu_countries.capital == 'admin') | (eu_countries.capital == 'primary')]
eu_countries.info()
eu_countries.sort_values(by='population', ascending = False).head(25)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1398 entries, 14 to 10111
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        1398 non-null   object
 1   city_ascii  1398 non-null   object
 2   lat         1398 non-null   float64
 3   lng         1398 non-null   float64
 4   country     1398 non-null   object
 5   iso2        1398 non-null   object
 6   iso3        1398 non-null   object
 7   admin_name  1391 non-null   object
 8   capital     1398 non-null   object
 9   population  1097 non-null   float64
 10  id          1398 non-null   int64
dtypes: float64(3), int64(1), object(7)
memory usage: 131.1+ KB

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
14,Moscow,Moscow,55.7558,37.6178,Russia,RU,RUS,Moskva,primary,17693000.0,1643318494
20,Istanbul,Istanbul,41.0100,28.9603,Turkey,TR,TUR,İstanbul,admin,15311000.0,1792756324
33,London,London,51.5072,-0.1275,United Kingdom,GB,GBR,"London, City of",primary,11120000.0,1826645935
34,Paris,Paris,48.8566,2.3522,France,FR,FRA,Île-de-France,primary,11027000.0,1250015082
102,Madrid,Madrid,40.4167,-3.7167,Spain,ES,ESP,Madrid,primary,6006000.0,1724616994
128,Saint Petersburg,Saint Petersburg,59.9500,30.3167,Russia,RU,RUS,Sankt-Peterburg,admin,5384342.0,1643616350
159,Barcelona,Barcelona,41.3825,2.1769,Spain,ES,ESP,Catalonia,admin,4735000.0,1724594040
210,Berlin,Berlin,52.5167,13.3833,Germany,DE,DEU,Berlin,primary,3664088.0,1276451290
258,Kyiv,Kyiv,50.4500,30.5236,Ukraine,UA,UKR,"Kyyiv, Misto",primary,2963199.0,1804382913
271,Rome,Rome,41.8931,12.4828,Italy,IT,ITA,Lazio,primary,2872800.0,1380382862
348,Baku,Baku,40.3667,49.8352,Azerbaijan,AZ,AZE,Bakı,primary,2181800.0,1031946365
380,Minsk,Minsk,53.9022,27.5618,Belarus,BY,BLR,Minsk,primary,2009786.0,1112348503
392,Vienna,Vienna,48.2083,16.3725,Austria,AT,AUT,Wien,primary,1911191.0,1040261752
398,Bucharest,Bucharest,44.4000,26.0833,Romania,RO,ROU,Bucureşti,primary,1883425.0,1642414442
406,Hamburg,Hamburg,53.5500,10.0000,Germany,DE,DEU,Hamburg,admin,1852478.0,1276041799
415,Warsaw,Warsaw,52.2300,21.0111,Poland,PL,POL,Mazowieckie,primary,1790658.0,1616024847
421,Brussels,Brussels,50.8353,4.3314,Belgium,BE,BEL,Brussels-Capital Region,primary,1743000.0,1056469830
424,Budapest,Budapest,47.4983,19.0408,Hungary,HU,HUN,Budapest,primary,1723836.0,1348611435
450,Novosibirsk,Novosibirsk,55.0333,82.9167,Russia,RU,RUS,Novosibirskaya Oblast’,admin,1602915.0,1643399240
482,Munich,Munich,48.1375,11.5750,Germany,DE,DEU,Bavaria,admin,1488202.0,1276692352
491,Yekaterinburg,Yekaterinburg,56.8356,60.6128,Russia,RU,RUS,Sverdlovskaya Oblast’,admin,1468833.0,1643582706
497,Kharkiv,Kharkiv,50.0000,36.2292,Ukraine,UA,UKR,Kharkivs’ka Oblast’,admin,1446107.0,1804588111
509,Belgrade,Belgrade,44.8167,20.4667,Serbia,RS,SRB,Beograd,primary,1378682.0,1688374696
511,Milan,Milan,45.4669,9.1900,Italy,IT,ITA,Lombardy,admin,1366180.0,1380724377
519,Prague,Prague,50.0833,14.4167,Czechia,CZ,CZE,"Praha, Hlavní Město",primary,1335084.0,1203744823

In [8]:
# Create dataset containing German cities, but only the capitals of the different german states. 
germany = geography_data[(geography_data.iso3 == 'DEU')] 
germany = germany[(germany.capital == 'admin') | (germany.city == 'Berlin')]
germany.info()
germany.sort_values(by=['city'], ascending = [True])
ger_capitals = germany[['city','lat','lng']].reset_index()
ger_capitals

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 210 to 5096
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        16 non-null     object
 1   city_ascii  16 non-null     object
 2   lat         16 non-null     float64
 3   lng         16 non-null     float64
 4   country     16 non-null     object
 5   iso2        16 non-null     object
 6   iso3        16 non-null     object
 7   admin_name  16 non-null     object
 8   capital     16 non-null     object
 9   population  16 non-null     float64
 10  id          16 non-null     int64
dtypes: float64(3), int64(1), object(7)
memory usage: 1.5+ KB

    index         city      lat      lng
0     210       Berlin  52.5167  13.3833
1     406      Hamburg  53.5500  10.0000
2     482       Munich  48.1375  11.5750
3    1149   Düsseldorf  51.2311   6.7724
4    1171    Stuttgart  48.7761   9.1775
5    1275       Bremen  53.0769   8.8089
6    1293      Dresden  51.0500  13.7400
7    1314     Hannover  52.3744   9.7386
8    2194    Wiesbaden  50.0825   8.2400
9    2405         Kiel  54.3233  10.1394
10   2496    Magdeburg  52.1317  11.6392
11   2646        Mainz  50.0000   8.2667
12   2696       Erfurt  50.9781  11.0292
13   3059      Potsdam  52.4000  13.0667
14   3102  Saarbrücken  49.2333   7.0000
15   5096     Schwerin  53.6333  11.4167

In [9]:
def haversine_vectorize(lon1, lat1, lon2, lat2):

    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    newlon = lon2 - lon1
    newlat = lat2 - lat1

    haver_formula = np.sin(newlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(newlon/2.0)**2

    dist = 2 * np.arcsin(np.sqrt(haver_formula ))
    km = 6367 * dist #6367 for distance in KM for miles use 3958
    return km

In [21]:
#Berlin 1
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Berlin_Distance = eu_countries[['city','country','iso3','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Berlin'][['lng']] 
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Berlin'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Berlin_Distance["lat_ori"] = lat_ori
Berlin_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Berlin_Distance["Distance"] = haversine_vectorize(Berlin_Distance['lng'],Berlin_Distance['lat'],Berlin_Distance['long_ori'],Berlin_Distance['lat_ori'])
Berlin_Distance = Berlin_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Dis_Ber = Berlin_Distance.groupby(['iso3']).mean(['distance']).sort_values(by = 'Distance').drop(columns = ['lat','lng','lat_ori','long_ori'])
Dis_Ber = Dis_Ber.rename(columns = {"Distance":"Berlin"}).pivot_table(columns = "iso3")
Dis_Ber

iso3,ALB,AND,ARM,AUT,AZE,BEL,BGR,BIH,BLR,CHE,...,PRT,ROU,RUS,SMR,SRB,SVK,SVN,SWE,TUR,UKR
Berlin,1355.745859,1418.502973,2734.19333,565.287452,2906.714617,640.961172,1393.625389,957.727669,970.290321,713.266958,...,2275.160555,1143.779239,3122.569216,956.432631,1065.763522,584.162276,710.780045,784.870003,2231.646859,1301.798173

In [23]:
#Hamburg 2
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Hamburg_Distance = eu_countries[['city','country','iso3','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Hamburg'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Hamburg'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Hamburg_Distance["lat_ori"] = lat_ori
Hamburg_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Hamburg_Distance["Distance"] = haversine_vectorize(Hamburg_Distance['lng'],Hamburg_Distance['lat'],Hamburg_Distance['long_ori'],Hamburg_Distance['lat_ori'])
Hamburg_Distance = Hamburg_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Dis_Ham = Hamburg_Distance.groupby(['iso3']).mean(['distance']).sort_values(by = 'Distance').drop(columns = ['lat','lng','lat_ori','long_ori'])
Dis_Ham = Dis_Ham.rename(columns = {"Distance":"Hamburg"}).pivot_table(columns = "iso3")
Dis_Ham

iso3,ALB,AND,ARM,AUT,AZE,BEL,BGR,BIH,BLR,CHE,...,PRT,ROU,RUS,SMR,SRB,SVK,SVN,SWE,TUR,UKR
Hamburg,1563.874014,1374.767227,2983.418796,732.104088,3153.281688,490.069434,1636.124661,1166.548544,1173.745293,731.995725,...,2156.236436,1393.644814,3269.104931,1083.727672,1294.522892,826.982831,892.072356,752.569754,2481.641832,1544.604333

In [24]:
#Munich 3
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Munich_Distance = eu_countries[['city','country','iso3','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Munich'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Munich'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Munich_Distance["lat_ori"] = lat_ori
Munich_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Munich_Distance["Distance"] = haversine_vectorize(Munich_Distance['lng'],
                                                  Munich_Distance['lat'],
                                                  Munich_Distance['long_ori'],
                                                  Munich_Distance['lat_ori'])
Munich_Distance = Munich_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Dis_Mun = Munich_Distance.groupby(['iso3']).mean(['distance']).sort_values(by = 'Distance').drop(columns = ['lat','lng','lat_ori','long_ori'])
Dis_Mun = Dis_Mun.rename(columns = {"Distance":"Munich"}).pivot_table(columns = "iso3")
Dis_Mun

iso3,ALB,AND,ARM,AUT,AZE,BEL,BGR,BIH,BLR,CHE,...,PRT,ROU,RUS,SMR,SRB,SVK,SVN,SWE,TUR,UKR
Munich,1018.722454,1000.467822,2761.771108,241.191612,2956.015365,576.393931,1217.249591,646.841777,1283.988438,287.937653,...,1943.182109,1070.006252,3457.728462,472.295602,828.985938,544.234847,344.590755,1283.858924,2129.77597,1426.90788

In [27]:
#Düsseldorf 4
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Düsseldorf_Distance = eu_countries[['city','country','iso3','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Düsseldorf'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Düsseldorf'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Düsseldorf_Distance["lat_ori"] = lat_ori
Düsseldorf_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Düsseldorf_Distance["Distance"] = haversine_vectorize(Düsseldorf_Distance['lng'],
                                                  Düsseldorf_Distance['lat'],
                                                  Düsseldorf_Distance['long_ori'],
                                                  Düsseldorf_Distance['lat_ori'])
Düsseldorf_Distance = Düsseldorf_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Dis_Düs = Düsseldorf_Distance.groupby(['iso3']).mean(['distance']).sort_values(by = 'Distance').drop(columns = ['lat','lng','lat_ori','long_ori'])
Dis_Düs = Dis_Düs.rename(columns = {"Distance":"Düsseldorf"}).pivot_table(columns = "iso3")
Dis_Düs

iso3,ALB,AND,ARM,AUT,AZE,BEL,BGR,BIH,BLR,CHE,...,PRT,ROU,RUS,SMR,SRB,SVK,SVN,SWE,TUR,UKR
Düsseldorf,1505.375187,1045.238152,3146.250842,672.638914,3328.636521,167.276737,1675.735778,1128.648379,1443.059953,473.54981,...,1824.882832,1484.584259,3562.327207,915.634677,1298.139795,912.848901,825.947642,1081.366425,2568.652642,1736.564431

In [29]:
#Stuttgart 5
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Stuttgart_Distance = eu_countries[['city','country','iso3','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Stuttgart'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Stuttgart'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Stuttgart_Distance["lat_ori"] = lat_ori
Stuttgart_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Stuttgart_Distance["Distance"] = haversine_vectorize(Stuttgart_Distance['lng'],
                                                  Stuttgart_Distance['lat'],
                                                  Stuttgart_Distance['long_ori'],
                                                  Stuttgart_Distance['lat_ori'])
Stuttgart_Distance = Stuttgart_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Dis_Stu = Stuttgart_Distance.groupby(['iso3']).mean(['distance']).sort_values(by = 'Distance').drop(columns = ['lat','lng','lat_ori','long_ori'])
Dis_Stu = Dis_Stu.rename(columns = {"Distance":"Stuttgart"}).pivot_table(columns = "iso3")
Dis_Stu

iso3,ALB,AND,ARM,AUT,AZE,BEL,BGR,BIH,BLR,CHE,...,PRT,ROU,RUS,SMR,SRB,SVK,SVN,SWE,TUR,UKR
Stuttgart,1195.348311,912.633261,2944.552399,398.531119,3136.652411,389.33747,1406.980207,832.739418,1396.398734,211.022395,...,1813.805378,1254.863374,3559.263364,594.091626,1018.266934,713.136744,529.198447,1260.064912,2318.369752,1587.804018

In [30]:
#Bremen 6
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Bremen_Distance = eu_countries[['city','country','iso3','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Bremen'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Bremen'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Bremen_Distance["lat_ori"] = lat_ori
Bremen_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Bremen_Distance["Distance"] = haversine_vectorize(Bremen_Distance['lng'],
                                                  Bremen_Distance['lat'],
                                                  Bremen_Distance['long_ori'],
                                                  Bremen_Distance['lat_ori'])
Bremen_Distance = Bremen_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Dis_Bre = Bremen_Distance.groupby(['iso3']).mean(['distance']).sort_values(by = 'Distance').drop(columns = ['lat','lng','lat_ori','long_ori'])
Dis_Bre = Dis_Bre.rename(columns = {"Distance":"Bremen"}).pivot_table(columns = "iso3")
Dis_Bre

iso3,ALB,AND,ARM,AUT,AZE,BEL,BGR,BIH,BLR,CHE,...,PRT,ROU,RUS,SMR,SRB,SVK,SVN,SWE,TUR,UKR
Bremen,1565.37547,1290.432981,3047.023623,724.611439,3220.020765,395.914292,1665.058457,1171.216454,1259.042299,669.160258,...,2062.278709,1435.208403,3356.880568,1050.814191,1311.714234,862.246441,885.645459,836.600203,2525.251402,1612.635716

In [31]:
#Dresden 7
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Dresden_Distance = eu_countries[['city','country','iso3','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Dresden'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Dresden'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Dresden_Distance["lat_ori"] = lat_ori
Dresden_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Dresden_Distance["Distance"] = haversine_vectorize(Dresden_Distance['lng'],
                                                  Dresden_Distance['lat'],
                                                  Dresden_Distance['long_ori'],
                                                  Dresden_Distance['lat_ori'])
Dresden_Distance = Dresden_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Dis_Dre = Dresden_Distance.groupby(['iso3']).mean(['distance']).sort_values(by = 'Distance').drop(columns = ['lat','lng','lat_ori','long_ori'])
Dis_Dre = Dis_Dre.rename(columns = {"Distance":"Dresden"}).pivot_table(columns = "iso3")
Dis_Dre

iso3,ALB,AND,ARM,AUT,AZE,BEL,BGR,BIH,BLR,CHE,...,PRT,ROU,RUS,SMR,SRB,SVK,SVN,SWE,TUR,UKR
Dresden,1197.659836,1323.087393,2665.924263,409.973299,2845.806685,642.754121,1263.214944,799.528578,994.120732,603.192593,...,2218.382273,1033.559826,3171.680635,796.811793,919.019796,460.863855,546.932291,940.854257,2125.541825,1253.946778

In [32]:
#Hannover 8
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Hannover_Distance = eu_countries[['city','country','iso3','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Hannover'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Hannover'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Hannover_Distance["lat_ori"] = lat_ori
Hannover_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Hannover_Distance["Distance"] = haversine_vectorize(Hannover_Distance['lng'],
                                                  Hannover_Distance['lat'],
                                                  Hannover_Distance['long_ori'],
                                                  Hannover_Distance['lat_ori'])
Hannover_Distance = Hannover_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Dis_Han = Hannover_Distance.groupby(['iso3']).mean(['distance']).sort_values(by = 'Distance').drop(columns = ['lat','lng','lat_ori','long_ori'])
Dis_Han = Dis_Han.rename(columns = {"Distance":"Hannover"}).pivot_table(columns = "iso3")
Dis_Han

iso3,ALB,AND,ARM,AUT,AZE,BEL,BGR,BIH,BLR,CHE,...,PRT,ROU,RUS,SMR,SRB,SVK,SVN,SWE,TUR,UKR
Hannover,1465.466696,1254.166803,2968.436213,628.206641,3144.308927,404.451985,1568.582807,1071.273048,1213.255601,601.089962,...,2062.250155,1343.926991,3336.522658,959.424631,1212.687443,769.409947,786.478734,875.412489,2434.630007,1540.771163

In [33]:
#Wiesbaden 9
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Wiesbaden_Distance = eu_countries[['city','country','iso3','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Wiesbaden'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Wiesbaden'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Wiesbaden_Distance["lat_ori"] = lat_ori
Wiesbaden_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Wiesbaden_Distance["Distance"] = haversine_vectorize(Wiesbaden_Distance['lng'],
                                                  Wiesbaden_Distance['lat'],
                                                  Wiesbaden_Distance['long_ori'],
                                                  Wiesbaden_Distance['lat_ori'])
Wiesbaden_Distance = Wiesbaden_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Dis_Wie= Wiesbaden_Distance.groupby(['iso3']).mean(['distance']).sort_values(by = 'Distance').drop(columns = ['lat','lng','lat_ori','long_ori'])
Dis_Wie = Dis_Wie.rename(columns = {"Distance":"Wiesbaden"}).pivot_table(columns = "iso3")
Dis_Wie

iso3,ALB,AND,ARM,AUT,AZE,BEL,BGR,BIH,BLR,CHE,...,PRT,ROU,RUS,SMR,SRB,SVK,SVN,SWE,TUR,UKR
Wiesbaden,1342.820875,983.919129,3027.353957,520.065025,3214.264951,266.090217,1527.153703,969.702706,1392.231445,337.758312,...,1830.510816,1350.901155,3539.466541,754.24641,1144.72157,787.627087,666.173305,1148.585439,2428.597269,1638.768182

In [34]:
#Kiel 10
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Kiel_Distance = eu_countries[['city','country','iso3','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Kiel'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Kiel'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Kiel_Distance["lat_ori"] = lat_ori
Kiel_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Kiel_Distance["Distance"] = haversine_vectorize(Kiel_Distance['lng'],
                                                  Kiel_Distance['lat'],
                                                  Kiel_Distance['long_ori'],
                                                  Kiel_Distance['lat_ori'])
Kiel_Distance = Kiel_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Dis_Kie= Kiel_Distance.groupby(['iso3']).mean(['distance']).sort_values(by = 'Distance').drop(columns = ['lat','lng','lat_ori','long_ori'])
Dis_Kie = Dis_Kie.rename(columns = {"Distance":"Kiel"}).pivot_table(columns = "iso3")
Dis_Kie

iso3,ALB,AND,ARM,AUT,AZE,BEL,BGR,BIH,BLR,CHE,...,PRT,ROU,RUS,SMR,SRB,SVK,SVN,SWE,TUR,UKR
Kiel,1632.493873,1453.890048,2998.692512,805.680261,3164.476813,554.442341,1686.535919,1234.236171,1157.940283,817.789334,...,2218.113105,1434.102509,3229.574696,1166.836701,1354.309707,875.462855,966.092237,675.59779,2517.882521,1555.834838

In [35]:
#Magdeburg 11
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Magdeburg_Distance = eu_countries[['city','country','iso3','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Magdeburg'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Magdeburg'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Magdeburg_Distance["lat_ori"] = lat_ori
Magdeburg_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Magdeburg_Distance["Distance"] = haversine_vectorize(Magdeburg_Distance['lng'],
                                                  Magdeburg_Distance['lat'],
                                                  Magdeburg_Distance['long_ori'],
                                                  Magdeburg_Distance['lat_ori'])
Magdeburg_Distance = Magdeburg_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Dis_Mag= Magdeburg_Distance.groupby(['iso3']).mean(['distance']).sort_values(by = 'Distance').drop(columns = ['lat','lng','lat_ori','long_ori'])
Dis_Mag = Dis_Mag.rename(columns = {"Distance":"Magdeburg"}).pivot_table(columns = "iso3")
Dis_Mag

iso3,ALB,AND,ARM,AUT,AZE,BEL,BGR,BIH,BLR,CHE,...,PRT,ROU,RUS,SMR,SRB,SVK,SVN,SWE,TUR,UKR
Magdeburg,1372.099487,1308.19763,2836.444903,550.940699,3012.319677,515.480451,1450.763379,974.6967,1094.612291,617.241577,...,2152.434928,1218.311873,3239.622816,913.231285,1103.731495,646.244464,703.721545,853.997393,2309.308717,1410.110494

In [37]:
#Mainz 12
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Mainz_Distance = eu_countries[['city','country','iso3','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Mainz'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Mainz'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Mainz_Distance["lat_ori"] = lat_ori
Mainz_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Mainz_Distance["Distance"] = haversine_vectorize(Mainz_Distance['lng'],
                                                  Mainz_Distance['lat'],
                                                  Mainz_Distance['long_ori'],
                                                  Mainz_Distance['lat_ori'])
Mainz_Distance = Mainz_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Dis_Mai= Mainz_Distance.groupby(['iso3']).mean(['distance']).sort_values(by = 'Distance').drop(columns = ['lat','lng','lat_ori','long_ori'])
Dis_Mai = Dis_Mai.rename(columns = {"Distance":"Mainz"}).pivot_table(columns = "iso3")
Dis_Mai

iso3,ALB,AND,ARM,AUT,AZE,BEL,BGR,BIH,BLR,CHE,...,PRT,ROU,RUS,SMR,SRB,SVK,SVN,SWE,TUR,UKR
Mainz,1335.181327,977.40517,3024.362728,513.787572,3211.615358,270.408729,1521.533197,962.796589,1394.172063,328.818696,...,1827.019024,1346.817161,3542.467588,745.200464,1138.588299,784.563404,659.132196,1156.232334,2423.743238,1637.536023

In [38]:
#Erfurt 13
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Erfurt_Distance = eu_countries[['city','country','iso3','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Erfurt'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Erfurt'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Erfurt_Distance["lat_ori"] = lat_ori
Erfurt_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Erfurt_Distance["Distance"] = haversine_vectorize(Erfurt_Distance['lng'],
                                                  Erfurt_Distance['lat'],
                                                  Erfurt_Distance['long_ori'],
                                                  Erfurt_Distance['lat_ori'])
Erfurt_Distance = Erfurt_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Dis_Erf= Erfurt_Distance.groupby(['iso3']).mean(['distance']).sort_values(by = 'Distance').drop(columns = ['lat','lng','lat_ori','long_ori'])
Dis_Erf = Dis_Erf.rename(columns = {"Distance":"Erfurt"}).pivot_table(columns = "iso3")
Dis_Erf

iso3,ALB,AND,ARM,AUT,AZE,BEL,BGR,BIH,BLR,CHE,...,PRT,ROU,RUS,SMR,SRB,SVK,SVN,SWE,TUR,UKR
Erfurt,1287.654575,1183.074817,2848.766863,458.202165,3030.63804,453.280645,1406.474626,894.831337,1173.010182,484.387315,...,2049.181619,1197.568795,3331.203582,790.310015,1042.277413,622.614271,608.476466,987.961499,2286.93013,1441.07427

In [39]:
#Potsdam 14
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Potsdam_Distance = eu_countries[['city','country','iso3','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Potsdam'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Potsdam'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Potsdam_Distance["lat_ori"] = lat_ori
Potsdam_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Potsdam_Distance["Distance"] = haversine_vectorize(Potsdam_Distance['lng'],
                                                  Potsdam_Distance['lat'],
                                                  Potsdam_Distance['long_ori'],
                                                  Potsdam_Distance['lat_ori'])
Potsdam_Distance = Potsdam_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Dis_Pot= Potsdam_Distance.groupby(['iso3']).mean(['distance']).sort_values(by = 'Distance').drop(columns = ['lat','lng','lat_ori','long_ori'])
Dis_Pot = Dis_Pot.rename(columns = {"Distance":"Potsdam"}).pivot_table(columns = "iso3")
Dis_Pot

iso3,ALB,AND,ARM,AUT,AZE,BEL,BGR,BIH,BLR,CHE,...,PRT,ROU,RUS,SMR,SRB,SVK,SVN,SWE,TUR,UKR
Potsdam,1352.914485,1394.404182,2750.917036,555.615433,2924.327187,616.888677,1399.432403,954.643937,993.85662,690.671939,...,2250.196343,1153.402347,3145.846551,942.102012,1067.141937,590.126485,702.568793,801.47116,2242.402412,1320.027249

In [40]:
#Saarbrücken 15
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Saarbrücken_Distance = eu_countries[['city','country','iso3','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Saarbrücken'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Saarbrücken'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Saarbrücken_Distance["lat_ori"] = lat_ori
Saarbrücken_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Saarbrücken_Distance["Distance"] = haversine_vectorize(Saarbrücken_Distance['lng'],
                                                  Saarbrücken_Distance['lat'],
                                                  Saarbrücken_Distance['long_ori'],
                                                  Saarbrücken_Distance['lat_ori'])
Saarbrücken_Distance = Saarbrücken_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Dis_Saa= Saarbrücken_Distance.groupby(['iso3']).mean(['distance']).sort_values(by = 'Distance').drop(columns = ['lat','lng','lat_ori','long_ori'])
Dis_Saa = Dis_Saa.rename(columns = {"Distance":"Saarbrücken"}).pivot_table(columns = "iso3")
Dis_Saa

iso3,ALB,AND,ARM,AUT,AZE,BEL,BGR,BIH,BLR,CHE,...,PRT,ROU,RUS,SMR,SRB,SVK,SVN,SWE,TUR,UKR
Saarbrücken,1350.726391,856.285766,3106.926705,558.567324,3297.518842,232.990481,1572.944066,995.66845,1512.649941,259.021636,...,1704.465173,1418.979917,3658.973741,721.295574,1183.690004,870.421485,692.46151,1270.382684,2483.882531,1736.746692

In [41]:
#Schwerin 16
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Schwerin_Distance = eu_countries[['city','country','iso3','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Schwerin'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Schwerin'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Schwerin_Distance["lat_ori"] = lat_ori
Schwerin_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Schwerin_Distance["Distance"] = haversine_vectorize(Schwerin_Distance['lng'],
                                                  Schwerin_Distance['lat'],
                                                  Schwerin_Distance['long_ori'],
                                                  Schwerin_Distance['lat_ori'])
Schwerin_Distance = Schwerin_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Dis_Sch= Schwerin_Distance.groupby(['iso3']).mean(['distance']).sort_values(by = 'Distance').drop(columns = ['lat','lng','lat_ori','long_ori'])
Dis_Sch = Dis_Sch.rename(columns = {"Distance":"Schwerin"}).pivot_table(columns = "iso3")
Dis_Sch

iso3,ALB,AND,ARM,AUT,AZE,BEL,BGR,BIH,BLR,CHE,...,PRT,ROU,RUS,SMR,SRB,SVK,SVN,SWE,TUR,UKR
Schwerin,1524.851401,1432.752725,2896.346752,708.227266,3064.669657,571.17226,1573.544358,1126.395791,1080.47812,765.457622,...,2235.227701,1322.05172,3185.95722,1080.744764,1242.654845,762.902846,864.512533,703.831636,2407.440068,1456.440221

In [56]:
#Create a dataframe with all the state capitals and their distances to the countries
df_geographical_data = pd.concat([Dis_Ber,Dis_Bre,Dis_Dre,Dis_Düs,Dis_Erf,Dis_Ham,Dis_Han,Dis_Kie,Dis_Mag,Dis_Mai,Dis_Mun,
                                  Dis_Pot,Dis_Saa,Dis_Sch,Dis_Stu,Dis_Wie])
df_geographical_data.drop(columns = "DEU")
df_geographical_data.to_csv('geographical_data.csv')